
*{
    font-family: sans-serif;
    margin: 0; 
    padding: 0;
}
body{
    color: #463F3A;
}
header{
    margin:auto;
    justify-content: center;
    align-items: center;
}
a{
    color: #ffffff;
    text-decoration: none;
}
a:visited{
    color: #4c88ac;
}
a:hover{
    background-color: #18130c;
    color: #E27F17;
}

nav{
    width: 200px;
    height: 640px;
    background:  #463F3A;
    display: flex;
}
nav ul{
    border-style: 1px solid;
    float: left;
}
nav ul li{
    border:1px solid;
    padding: 1  px 0;
}
nav ul li a{
    padding: 15px 20px;
    display: inline-block;
}

main{
    width: 4100px;
    height: 620px;
    background:  #18130c;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
footer{
    width: 100%;
    height: 50px;
    background: #016A66;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.medsos ul li{
    display: inline-block;
    margin-right: 10px;
}
table{
    border: 0;
    font-size: 20px;
    align: center;
    
}
.gambar{
    display: inline;
}